.nav-link{
    color: white;
}
.nav-link:hover{
    color: white;
    cursor: default;
}
.nav-link.active{
    background: none;
    border: 1px solid white;
    border-radius: 1rem;
    color: white;
}